/* ---- BODY ---- */

body {
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(29, 29, 29);
    padding-bottom: 2%;
}

/* ---- HEADER ---- */

#header {
    height: 100vh;
    position: relative;
    background: linear-gradient(to right,
            rgb(29, 29, 29) 0%,
            rgb(29, 29, 29) 70%,
            rgb(182, 87, 32) 70%,
            rgb(182, 87, 32) 100%)
}

#img {
    position: absolute;
    bottom: 40%;
    right: 20%;
    border: 1px solid antiquewhite;
}

#hello {
    position: absolute;
    left: 20%;
    bottom: 85%;
}

#backgroundBorder {
    position: absolute;
    bottom: 35%;
    right: 18%;
    width: 365px;
    height: 250px;
    border: 1px solid antiquewhite;
}

#headerCode1 {
    position: absolute;
    bottom: 65%;
    right: 37.5%;
}

#float1 {
    position: absolute;
    bottom: 46%;
    left: 82%;
}

#float2 {
    position: absolute;
    bottom: 10%;
    left: 70%;
    transform: rotate(130deg);
}

#float3 {
    position: absolute;
    bottom: 5%;
    left: 83%;
}

#float4 {
    position: absolute;
    bottom: 8%;
    left: 55%;
}

#float5 {
    position: absolute;
    bottom: 80%;
    left: 5%;
}

/* ---- TYPEWRITER EFFECT ---- */

.let-highlight {
    color: #C0AD60;
}

.string-highlight {
    color: rgba(253, 149, 90, 0.8);
}

#typewriter {
    font-size: 1.5em;
    position: absolute;
    bottom: 4%;
    left: 10%;
    margin-left: -250px;
    font-family: "Courier New";
    color: antiquewhite;
}

#typewriter:after {
    content: "|";
    animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ---- WHO AM I ---- */

#aboutMe {
    padding-top: 5%;
}

h3 {
    color: rgb(182, 87, 32);
}

/* ---- MY WORK ---- */

#myWorkImg {
    border: 1px solid antiquewhite;
}

/* ---- GET IN TOUCH ---- */

.icons {
    font-size: 4rem;
    padding-right: 5%;
}

/* ---- LOGO'S BOUNCING ---- */

.x {
    animation: x 5s linear infinite alternate;
}

.y {
    animation: y 5.5s linear infinite alternate-reverse;
}

.b {
    animation: y 3.5s linear infinite alternate;
}

.c {
    animation: y 2s linear infinite alternate-reverse;
}

.e {
    animation: y 1.5s linear infinite alternate;
}

.f {
    animation: y 3s linear infinite alternate-reverse;
}

.g {
    animation: y 2s linear infinite alternate;
}

.h {
    animation: y 2.5s linear infinite alternate-reverse;
}

.i {
    animation: y 4s linear infinite alternate;
}

@keyframes x {
    100% {
        transform: translateX(calc(50vw - 600px));
    }
}

@keyframes y {
    100% {
        transform: translateY(calc(50vh - 50px));
    }
}

/* ---- Media Queries to adjust various items to screen size ---- */

@media (max-width: 992px) {
    #img {
        position: absolute;
        bottom: 46%;
        right: 15%;
        border: 1px solid antiquewhite;
    }
    
    #hello {
        position: absolute;
        left: 20%;
        bottom: 89%;
    }
    
    #backgroundBorder {
        position: absolute;
        bottom: 42%;
        right: 12%;
        width: 365px;
        height: 250px;
        border: 1px solid antiquewhite;
    }

    #headerCode1,
    #float2,
    #float4
     {
        display: none;
    }

    #float1 {
        bottom: 46%;
        left: 88%; 
    }

    #float3 {
        bottom: 5%;
        left: 72%;
    }
    
    #float5 {
        position: absolute;
        bottom: 83%;
        left: 5%;
    }

    #typewriter {
        font-size: 1.3em;
        position: absolute;
        bottom: 0.5%;
        left: 1%;
        margin-left: -100px;
        font-family: "Courier New";
        color: antiquewhite;
    }

    .flair1 {
        display: none;
    }

    @keyframes x {
        100% {
            transform: translateX(calc(70vw - 350px));
        }
    }
    
    @keyframes y {
        100% {
            transform: translateY(calc(70vh - 480px));
        }
    }
}

@media (max-width: 768px) {
    #img {
        position: absolute;
        bottom: 46%;
        right: 15%;
        border: 1px solid antiquewhite;
    }
    
    #hello {
        position: absolute;
        left: 35%;
        bottom: 89%;
    }
    
    #backgroundBorder {
        position: absolute;
        bottom: 42%;
        right: 12%;
        width: 365px;
        height: 250px;
        border: 1px solid antiquewhite;
    }

    #headerCode1,
    #float2,
    #float4
     {
        display: none;
    }

    #float1 {
        bottom: 46%;
        left: 88%; 
    }

    #float3 {
        bottom: 5%;
        left: 72%;
    }
    
    #float5 {
        position: absolute;
        bottom: 83%;
        left: 5%;
    }

    #typewriter {
        font-size: 1.2em;
        position: absolute;
        bottom: 0.5%;
        left: 1%;
        margin-left: -100px;
        font-family: "Courier New";
        color: antiquewhite;
    }

    .flair1 {
        display: none;
    }

    @keyframes x {
        100% {
            transform: translateX(calc(70vw - 450px));
        }
    }
    
    @keyframes y {
        100% {
            transform: translateY(calc(70vh - 480px));
        }
    }
}

@media (max-width: 576px) {
    #img {
        position: absolute;
        bottom: 46%;
        right: 5%;
        border: 1px solid antiquewhite;
    }
    
    #hello {
        position: absolute;
        left: 35%;
        bottom: 89%;
    }
    
    #backgroundBorder {
        position: absolute;
        bottom: 42%;
        right: 12%;
        width: 365px;
        height: 250px;
        border: 1px solid antiquewhite;
    }

    #headerCode1,
    #float1,
    #float2,
    #float3,
    #float4 {
        display: none;
    }
    
    #float5 {
        position: absolute;
        bottom: 83%;
        left: 5%;
    }

    #typewriter {
        font-size: 1em;
        bottom: 5%;
        left: 1%;
        margin-left: -100px;
        font-family: "Courier New";
        color: antiquewhite;
    }

    .flair1 {
        display: none;
    }

    @keyframes x {
        100% {
            transform: translateX(calc(70vw - 350px));
        }
    }
    
    @keyframes y {
        100% {
            transform: translateY(calc(70vh - 490px));
        }
    }
}
